07_resume_parser.json
{
  "name": "Resume Parser - Gmail to ATS",
  "tags": ["hr", "recruiting", "resume", "parsing", "ats"],
  "description": "Parses resumes from email attachments, extracts structured data using AI, validates the output, creates candidate records in the ATS, and notifies the hiring team. Handles non-JSON AI responses and missing fields gracefully.",
  "nodes": [
    {
      "parameters": {
        "content": "## Resume Parser\n**Flow:**\n1. Gmail trigger fires on emails with subject containing \"Application\" and an attachment\n2. Extracts the resume attachment (.pdf/.doc/.docx) as binary\n3. Sends the acknowledgment email immediately (doesn't wait on parsing)\n4. Extracts text from PDF resumes using the binary data extraction node\n5. AI parses the resume text into structured JSON, with a fallback if the model returns malformed JSON\n6. Validates required fields before inserting into the ATS database\n7. Notifies #hiring on Slack\n\n**Note:** this template only handles .pdf resumes for text extraction out of the box. .doc/.docx resumes are saved but flagged for manual review, since reliable serverless DOC parsing needs an external converter (e.g. CloudConvert, LibreOffice headless) which isn't included here.\n\n**Setup required:** Gmail OAuth2, OpenAI API key, Postgres ATS database, Slack credentials.",
        "height": 440,
        "width": 420
      },
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, -180]
    },
    {
      "parameters": {
        "filters": {
          "q": "subject:Application has:attachment"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "name": "Gmail Resume Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst binaryKeys = Object.keys($input.first().binary || {});\n\n// Find the first attachment that looks like a resume file\nconst resumeKey = binaryKeys.find(k => {\n  const fileName = ($input.first().binary[k]?.fileName || '').toLowerCase();\n  return fileName.endsWith('.pdf') || fileName.endsWith('.doc') || fileName.endsWith('.docx');\n});\n\nif (!resumeKey) {\n  return [{\n    json: {\n      noResumeFound: true,\n      from: email.from,\n      subject: email.subject\n    }\n  }];\n}\n\nconst fileName = $input.first().binary[resumeKey].fileName || '';\nconst isPdf = fileName.toLowerCase().endsWith('.pdf');\n\nreturn [{\n  json: {\n    from: email.from,\n    subject: email.subject,\n    body: email.text || '',\n    filename: fileName,\n    isPdf,\n    resumeBinaryKey: resumeKey,\n    receivedAt: email.date || new Date().toISOString()\n  },\n  binary: {\n    resume: $input.first().binary[resumeKey]\n  }\n}];"
      },
      "name": "Extract Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-resume",
              "leftValue": "={{ $json.noResumeFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Resume Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "careers@yourcompany.com",
        "toEmail": "={{ $json.from }}",
        "subject": "Application Received",
        "html": "<h2>Hi there,</h2><p>Thank you for applying! We've received your resume and our team will review it shortly.</p><p>Best,<br>HR Team</p>",
        "options": {}
      },
      "name": "Send Acknowledgment",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 2,
      "position": [900, 450],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "sendGridApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "SendGrid"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-pdf",
              "leftValue": "={{ $json.isPdf }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume",
        "options": {}
      },
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1150, 100],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "table": {
          "table": "candidates",
          "schema": "public"
        },
        "columns": "name, email, status, source, applied_at, notes",
        "values": "={{ [['Unknown (' + $('Extract Resume').item.json.filename + ')', $('Extract Resume').item.json.from, 'Needs Manual Review', 'Email Application', new Date().toISOString(), 'DOC/DOCX format - automatic text extraction not supported, review attachment manually']] }}"
      },
      "name": "Flag DOC for Manual Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1150, 300],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "ATS Database"
        }
      }
    },
    {
      "parameters": {
        "modelId": "gpt-4-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Extract candidate info from the resume text. Respond with ONLY a JSON object, no markdown formatting, no explanation. Use this exact shape: {\"name\": string, \"email\": string, \"phone\": string, \"skills\": string[], \"experience_years\": number, \"education\": string, \"current_title\": string, \"companies\": string[]}. If a field cannot be determined, use null for strings/numbers or an empty array for arrays."
            },
            {
              "role": "user",
              "content": "=Resume text: {{ $json.text }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "name": "AI Parse Resume",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1400, 100],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Defensive JSON parsing -- handle markdown code fences, partial JSON, and missing fields\nconst raw = $json.message?.content || $json.text || $json.output || '';\n\nlet parsed;\ntry {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{\n    json: {\n      parseFailed: true,\n      rawOutput: raw,\n      from: $('Extract Resume').item.json.from,\n      filename: $('Extract Resume').item.json.filename\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    parseFailed: false,\n    name: parsed.name || 'Unknown Candidate',\n    email: parsed.email || null,\n    phone: parsed.phone || null,\n    skills: Array.isArray(parsed.skills) ? parsed.skills : [],\n    experience_years: typeof parsed.experience_years === 'number' ? parsed.experience_years : null,\n    education: parsed.education || null,\n    current_title: parsed.current_title || null,\n    companies: Array.isArray(parsed.companies) ? parsed.companies : [],\n    applicantEmail: $('Extract Resume').item.json.from,\n    filename: $('Extract Resume').item.json.filename\n  }\n}];"
      },
      "name": "Parse & Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "parsed-ok",
              "leftValue": "={{ $json.parseFailed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "AI Parse Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1900, 100]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "table": {
          "table": "candidates",
          "schema": "public"
        },
        "columns": "name, email, phone, skills, experience_years, education, current_title, companies, status, source, applied_at",
        "values": "={{ [[$json.name, $json.email || $json.applicantEmail, $json.phone, $json.skills.join(', '), $json.experience_years, $json.education, $json.current_title, $json.companies.join(', '), 'New', 'Email Application', new Date().toISOString()]] }}"
      },
      "name": "Save to ATS Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2150, 50],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "ATS Database"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "table": {
          "table": "candidates",
          "schema": "public"
        },
        "columns": "name, email, status, source, applied_at, notes",
        "values": "={{ [['Unknown - ' + $json.filename, $json.from, 'Needs Manual Review', 'Email Application', new Date().toISOString(), 'AI parsing failed on resume text, review attachment manually. Raw AI output saved in notes.']] }}"
      },
      "name": "Flag AI Failure for Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2150, 200],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "ATS Database"
        }
      }
    },
    {
      "parameters": {
        "channel": "#hiring",
        "text": "📄 New Candidate Application\n\n*Name:* {{ $json.name }}\n*Email:* {{ $json.email || $json.applicantEmail }}\n*Phone:* {{ $json.phone || 'N/A' }}\n*Current Role:* {{ $json.current_title || 'N/A' }}\n*Experience:* {{ $json.experience_years || 'N/A' }} years\n\n*Skills:* {{ ($json.skills || []).join(', ') || 'N/A' }}\n*Education:* {{ $json.education || 'N/A' }}\n\nStatus: New | Review in ATS",
        "options": {}
      },
      "name": "Notify Hiring Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [2400, 50],
      "onError": "continueRegularOutput",
      "credentials": {
        "slackApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "channel": "#hiring",
        "text": "⚠️ A resume came in but couldn't be auto-parsed (either AI parsing failed or it's a DOC/DOCX file). It's logged in the ATS with status 'Needs Manual Review' — please check it manually.\n\n*From:* {{ $json.from || $json.applicantEmail }}",
        "options": {}
      },
      "name": "Notify Manual Review Needed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [2400, 250],
      "onError": "continueRegularOutput",
      "credentials": {
        "slackApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Gmail Resume Trigger": {
      "main": [[{"node": "Extract Resume", "type": "main", "index": 0}]]
    },
    "Extract Resume": {
      "main": [[{"node": "Resume Found?", "type": "main", "index": 0}]]
    },
    "Resume Found?": {
      "main": [
        [{"node": "Send Acknowledgment", "type": "main", "index": 0}, {"node": "Is PDF?", "type": "main", "index": 0}],
        []
      ]
    },
    "Is PDF?": {
      "main": [
        [{"node": "Extract Text from PDF", "type": "main", "index": 0}],
        [{"node": "Flag DOC for Manual Review", "type": "main", "index": 0}]
      ]
    },
    "Flag DOC for Manual Review": {
      "main": [[{"node": "Notify Manual Review Needed", "type": "main", "index": 0}]]
    },
    "Extract Text from PDF": {
      "main": [[{"node": "AI Parse Resume", "type": "main", "index": 0}]]
    },
    "AI Parse Resume": {
      "main": [[{"node": "Parse & Validate AI Output", "type": "main", "index": 0}]]
    },
    "Parse & Validate AI Output": {
      "main": [[{"node": "AI Parse Succeeded?", "type": "main", "index": 0}]]
    },
    "AI Parse Succeeded?": {
      "main": [
        [{"node": "Save to ATS Database", "type": "main", "index": 0}],
        [{"node": "Flag AI Failure for Review", "type": "main", "index": 0}]
      ]
    },
    "Save to ATS Database": {
      "main": [[{"node": "Notify Hiring Team", "type": "main", "index": 0}]]
    },
    "Flag AI Failure for Review": {
      "main": [[{"node": "Notify Manual Review Needed", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
