10_customer_support_ticket.json
{
  "name": "Customer Support Ticket Automation",
  "tags": ["support", "customer-service", "ticketing"],
  "description": "Triages incoming support emails by priority and category, saves to the ticket database, alerts on urgent issues, auto-replies to the customer, and routes to the right agent with an SLA deadline — regardless of urgency path.",
  "nodes": [
    {
      "parameters": {
        "content": "## Support Ticket Automation\n**Flow:**\n1. Gmail trigger fires on new support emails\n2. Parses subject/body, scores priority (urgent/high/low) and category by keyword\n3. Saves the ticket to Postgres\n4. If urgent: Slack alert fires in addition to (not instead of) the normal flow\n5. Both paths converge on: auto-reply to customer → route to the correct agent + set SLA deadline → update the ticket's assigned agent and SLA in the DB\n\n**Fix from original:** the urgent branch used to dead-end after the Slack alert — it never reached auto-reply or agent routing. Now both paths converge correctly, and the DB write for assigned agent/SLA (which never existed) has been added.\n\n**Setup required:** Gmail OAuth2, Postgres (support_tickets table), Slack (`SLACK_SUPPORT_CHANNEL` env var).",
        "height": 380,
        "width": 420
      },
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, -150]
    },
    {
      "parameters": {
        "filters": {
          "q": "-from:me"
        },
        "options": {}
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract ticket info from email\nconst input = $input.first().json;\nconst subject = input.subject || '';\nconst body = input.text || '';\nconst from = input.from || '';\n\n// Determine priority based on keywords\nconst urgentKeywords = ['urgent', 'critical', 'down', 'broken', 'asap'];\nconst highKeywords = ['important', 'issue', 'problem', 'bug', 'help'];\n\nlet priority = 'low';\nconst lowerSubject = subject.toLowerCase();\nconst lowerBody = body.toLowerCase();\n\nif (urgentKeywords.some(k => lowerSubject.includes(k) || lowerBody.includes(k))) {\n  priority = 'urgent';\n} else if (highKeywords.some(k => lowerSubject.includes(k) || lowerBody.includes(k))) {\n  priority = 'high';\n}\n\n// Categorize ticket\nconst categories = {\n  'billing': ['invoice', 'payment', 'billing', 'charge', 'refund', 'subscription'],\n  'technical': ['bug', 'error', 'not working', 'broken', 'issue', 'crash'],\n  'account': ['login', 'password', 'access', 'account', 'signup', 'register'],\n  'feature': ['feature', 'request', 'suggestion', 'enhancement', 'improvement']\n};\n\nlet category = 'general';\nfor (const [cat, keywords] of Object.entries(categories)) {\n  if (keywords.some(k => lowerSubject.includes(k) || lowerBody.includes(k))) {\n    category = cat;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ticketId: 'TKT-' + Date.now(),\n    subject,\n    body: body.substring(0, 500),\n    from,\n    priority,\n    category,\n    receivedAt: new Date().toISOString(),\n    status: 'open'\n  }\n}];"
      },
      "name": "Parse Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "insert",
        "table": {
          "value": "support_tickets",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticketId }}",
            "subject": "={{ $json.subject }}",
            "description": "={{ $json.body }}",
            "customer_email": "={{ $json.from }}",
            "priority": "={{ $json.priority }}",
            "category": "={{ $json.category }}",
            "status": "={{ $json.status }}",
            "created_at": "={{ $json.receivedAt }}"
          }
        }
      },
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [650, 300],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Support Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_SUPPORT_CHANNEL }}",
        "text": "🚨 URGENT SUPPORT TICKET\n\n*Ticket:* {{ $json.ticketId }}\n*From:* {{ $json.from }}\n*Subject:* {{ $json.subject }}\n*Category:* {{ $json.category }}\n*Priority:* {{ $json.priority }}\n\n*Preview:*\n{{ $json.body.substring(0, 300) }}..."
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 150],
      "onError": "continueRegularOutput",
      "credentials": {
        "slackApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.from }}",
        "subject": "Re: {{ $json.subject }} - Ticket #{{ $json.ticketId }}",
        "message": "=Hi there,<br><br>Thank you for contacting our support team.<br><br>Your ticket has been created with ID: {{ $json.ticketId }}<br>Priority: {{ $json.priority }}<br>Category: {{ $json.category }}<br><br>We will get back to you within {{ $json.priority === 'urgent' ? '1 hour' : $json.priority === 'high' ? '4 hours' : '24 hours' }}.<br><br>Best regards,<br>Support Team",
        "options": {}
      },
      "name": "Auto Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 300],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Route to correct agent based on category\nconst data = $input.first().json;\nconst category = data.category;\nconst priority = data.priority;\n\nconst agents = {\n  'billing': 'billing@company.com',\n  'technical': 'tech-support@company.com',\n  'account': 'accounts@company.com',\n  'feature': 'product@company.com',\n  'general': 'support@company.com'\n};\n\nconst assignedAgent = agents[category] || agents.general;\nconst slaHours = priority === 'urgent' ? 1 : priority === 'high' ? 4 : 24;\n\nreturn [{\n  json: {\n    ...data,\n    assignedTo: assignedAgent,\n    slaDeadline: new Date(Date.now() + slaHours * 60 * 60 * 1000).toISOString()\n  }\n}];"
      },
      "name": "Route to Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "mode": "update",
        "table": {
          "value": "support_tickets",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "assigned_to": "={{ $json.assignedTo }}",
            "sla_deadline": "={{ $json.slaDeadline }}",
            "status": "assigned"
          }
        },
        "where": {
          "conditions": [{
            "column": "ticket_id",
            "value": "={{ $json.ticketId }}"
          }]
        }
      },
      "name": "Update Ticket Assignment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1650, 300],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Support Database"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{"node": "Parse Ticket", "type": "main", "index": 0}]]
    },
    "Parse Ticket": {
      "main": [[{"node": "Save to Database", "type": "main", "index": 0}]]
    },
    "Save to Database": {
      "main": [[{"node": "Is Urgent?", "type": "main", "index": 0}]]
    },
    "Is Urgent?": {
      "main": [
        [{"node": "Slack Alert", "type": "main", "index": 0}],
        [{"node": "Auto Reply", "type": "main", "index": 0}]
      ]
    },
    "Slack Alert": {
      "main": [[{"node": "Auto Reply", "type": "main", "index": 0}]]
    },
    "Auto Reply": {
      "main": [[{"node": "Route to Agent", "type": "main", "index": 0}]]
    },
    "Route to Agent": {
      "main": [[{"node": "Update Ticket Assignment", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
